$link-color: #5da6dd;
$btn-primary-color: #5da6dd;
$sidebar-color: #FFFBFF;
$feedback-color: darken($sidebar-color, 3%);
$body-background-color: #ffffff;
$body-text-color: #383D3B;

//Grey to be also used 7C7C7C